h1, h3{  /* Titles */
    font-family: commuters-sans,sans-serif;
    font-weight: 700;
    font-style: italic;
}
a, .captions, p, button {  /* Subtitles & General text */
    font-family: commuters-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
    color:#ffffff;
}
body{
    background-color: black;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(216,255,51, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: transparent;
} 
.captions{
    padding: 5% 5% 5% 5%;
}
#testDiv{
    width: 100px;
    height: 100px;
    background-color: red;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}
.form-group{
    padding-bottom: 2%;
}
button{
    color:black;
}