
h1, h3{  /* Titles */
    font-family: commuters-sans,sans-serif;
    font-weight: 700;
    font-style: italic;
}
a, .captions, p, button {  /* Subtitles & General text */
    font-family: commuters-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
    color:#ffffff;
}
body{
    background-color: black;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(216,255,51, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: transparent;
} 
.captions{
    padding: 5% 5% 5% 5%;
}
.form-group{
    padding-bottom: 2%;
}
button{
    color:black;
}
img{
    width:auto;
    height:auto;
}
#mainHeader{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    /* add code so header is responsive */

  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
     /* add code so header is responsive */
  }