h1, h3, p{  /* Titles */
    font-family: commuters-sans,sans-serif;
    font-weight: 700;
    font-style: italic;
}
a, .captions{  /* Subtitles */
    font-family: commuters-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
}
p{  /* General text */
    font-family: 'Open Sans', sans-serif;
    color:white;
}
a{
    color: white;
}

body {
    background-color: black;
  }
  .p-r-l-15 {
    padding: 15px 30px!important;
  }
  img
  {
    vertical-align: middle;
  }
  .img-responsive
  {
      display: block;
      height: auto;
      max-width: 100%;
  }
  .img-rounded
  {
      border-radius: 3px;
  }
  .img-thumbnail
  {
      background-color: #C8E5E8;
      border: 1px solid #D8FF32;
      border-radius: 3px;
      display: inline-block;
      height: auto;
      line-height: 1.428571429;
      max-width: 100%;
      moz-transition: all .2s ease-in-out;
      o-transition: all .2s ease-in-out;
      padding: 2px;
      transition: all .2s ease-in-out;
      webkit-transition: all .2s ease-in-out;
  }
  .img-circle
  {
      border-radius: 50%;
  }
  .timeline-centered {
      position: relative;
      margin-bottom: 30px;
  }
  
      .timeline-centered:before, .timeline-centered:after {
          content: " ";
          display: table;
      }
  
      .timeline-centered:after {
          clear: both;
      }
  
      .timeline-centered:before, .timeline-centered:after {
          content: " ";
          display: table;
      }
  
      .timeline-centered:after {
          clear: both;
      }
  
      .timeline-centered:before {
          content: '';
          position: absolute;
          display: block;
          width: 4px;
          background: #f5f5f6;
          left: 50%;
          top: 20px;
          bottom: 20px;
          margin-left: -4px;
      }
  
      .timeline-centered .timeline-entry {
          position: relative;
          width: 50%;
          float: right;
          margin-bottom: 70px;
          clear: both;
      }
  
          .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
              content: " ";
              display: table;
          }
  
          .timeline-centered .timeline-entry:after {
              clear: both;
          }
  
          .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
              content: " ";
              display: table;
          }
  
          .timeline-centered .timeline-entry:after {
              clear: both;
          }
  
          .timeline-centered .timeline-entry.begin {
              margin-bottom: 0;
          }
  
          .timeline-centered .timeline-entry.left-aligned {
              float: left;
          }
  
              .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                  margin-left: 0;
                  margin-right: -18px;
              }
  
                  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                      left: auto;
                      right: -100px;
                      text-align: left;
                  }
  
                  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                      float: right;
                  }
  
                  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                      margin-left: 0;
                      margin-right: 70px;
                  }
  
                      .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                          left: auto;
                          right: 0;
                          margin-left: 0;
                          margin-right: -9px;
                          -moz-transform: rotate(180deg);
                          -o-transform: rotate(180deg);
                          -webkit-transform: rotate(180deg);
                          -ms-transform: rotate(180deg);
                          transform: rotate(180deg);
                      }
  
          .timeline-centered .timeline-entry .timeline-entry-inner {
              position: relative;
              margin-left: -22px;
          }
  
              .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                  content: " ";
                  display: table;
              }
  
              .timeline-centered .timeline-entry .timeline-entry-inner:after {
                  clear: both;
              }
  
              .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                  content: " ";
                  display: table;
              }
  
              .timeline-centered .timeline-entry .timeline-entry-inner:after {
                  clear: both;
              }
  
              .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                  position: absolute;
                  left: -100px;
                  text-align: right;
                  min-width:90px;
                  padding: 10px;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
              }
  
                  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                      display: block;
                  }
  
                      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                          font-size: 15px;
                          font-weight: 600;
                      }
  
                      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                          font-size: 12px;
                      }
  
              .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                  background: #fff;
                  color: #737881;
                  display: block;
                  width: 40px;
                  height: 40px;
                  -webkit-background-clip: padding-box;
                  -moz-background-clip: padding;
                  background-clip: padding-box;
                  -webkit-border-radius: 20px;
                  -moz-border-radius: 20px;
                  border-radius: 20px;
                  text-align: center;
                  -moz-box-shadow: 0 0 0 5px #f5f5f6;
                  -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                  box-shadow: 0 0 0 5px #f5f5f6;
                  line-height: 40px;
                  font-size: 15px;
                  float: left;
              }

  
              .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                  position: relative;
                  background: #f5f5f6;
                  padding: 1.7em;
                  margin-left: 70px;
                  -webkit-background-clip: padding-box;
                  -moz-background-clip: padding;
                  background-clip: padding-box;
                  -webkit-border-radius: 3px;
                  -moz-border-radius: 3px;
                  border-radius: 3px;
              }
  
                  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                      content: '';
                      display: block;
                      position: absolute;
                      width: 0;
                      height: 0;
                      border-style: solid;
                      border-width: 9px 9px 9px 0;
                      border-color: transparent #f5f5f6 transparent transparent;
                      left: 0;
                      top: 10px;
                      margin-left: -9px;
                  }
  
                  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                      color: #737881;
                      font-family: 'Montserrat', sans-serif;
                      font-size: 12px;
                    font-weight:300;
                      margin: 0;
                      line-height: 1.428571429;
                  }
  
                      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                          margin-top: 15px;
                      }
  
                  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                      font-size: 16px;
                      margin-bottom: 10px;
                    color: #303641;
                  }
  
                      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                          color: #303641;
                      }
  
                      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                          -webkit-opacity: .6;
                          -moz-opacity: .6;
                          opacity: .6;
                          -ms-filter: alpha(opacity=60);
                          filter: alpha(opacity=60);
                      }
  
  